<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= siteTitle %></title>
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		<link type="text/css" rel="stylesheet" href="/css/markdown.css">
		<link type="text/css" rel="stylesheet" href="/css/octicons.css">
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/logo.png" class="logomark"></a>

			<!-- Build Breadcrumbs out -->
			<div id="path">
				<a href="/"><%= siteTitle %></a>

				<% fullPath = '' %>

				<% for pathPart in path %>
					<% fullPath = fullPath + '/' + pathPart %>
					<span class="octicon octicon-triangle-right muted"
						style="margin-right: 0.75rem;"></span>

					<a href="<%= fullPath %>">
						<span class="octicon octicon-file-directory"></span>
						<%= pathPart%>
					</a>
				<% end %>

			</div>
		</header>

		<main>

			<nav>
				<!-- Build Navigation Children out -->
				<div id="menu">
					<ul>
						<% for directory in children[:directories] %>
							<li class="folder">
								<a href="<%= fullPath + "/" + directory %>">
									<span class="octicon octicon-file-directory"></span>
									<%= directory %>
								</a>
							</li>
						<% end %>

						<% for page in children[:pages] %>
							<% classes = "" %>
							<% if currentFile == page %>
								<% classes = "current" %>
							<% end %>
							<li class="page <%= classes %>">
								<a href="<%= fullPath + "/" + page %>">
									<%= page %>
								</a>
							</li>
						<% end %>

					</ul>
				</div>
			</nav>

			<section class="markdown-body">
				<% if !folder_root %>
					<div class="current-file"><span class="octicon octicon-markdown"></span>&nbsp; <%= currentFile %></div>
				<% else %>
					<p class="muted"><span class="octicon octicon-arrow-left"></span>&nbsp; Choose a file</p>
				<% end %>

				<%= content %>
			</section>
		</main>
	</body>
</html>
